
    #outside-container {
      background-color: gainsboro;
      margin-bottom: 1em;
    }

    #edit-info {
      background-color: gainsboro;
    }

    #edit-container {
      border: 2px solid silver;
      border-radius: 4px;
      margin: auto;
      width: 780px;
      background-color: white;
    }

    .thumbnail-grid {
      margin: 0 auto;
      max-width: 960px;
      padding: 0 1rem;
    }

    .thumbnail-grid-edit {
      margin: 0 auto;
      max-width: 640px;
      padding: 0 1rem;
    }

    .responsive-image {
      max-width: 100%;
      height: 100%;
      display: block;
    }

    /* .cell {
      position: relative;
    } */


    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background-color: #f2f2f2;
    }

    .cell:hover .overlay {
      opacity: 0.7;
    }

    .text {
      color: #333333;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }

    .placeholder {
      background-color:khaki;
    }

    .unsortable {
      background-color:silver;
    }

    .top-left {
      position: absolute;
      top: 8px;
      left: 8px;
    }

    .icon {
      opacity: 0.0;
    }

    .cell:hover .icon {
      opacity: 0.6;
    }

    .cell:hover .icon:hover {
      opacity: 1.0;
    }

    .add-button {
      width: 100%;
      display:block;
      margin:auto;
    }

    .add-cell:hover {
      opacity: 0.5;
    }

    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .cell {
      position: relative;
      margin: 1em;
      width: calc(33.3333% - 2rem);
    }
/*

    @media screen and (min-width: 600px) {
      .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
      .cell {
        width: 50%;
      }
    }

    @media screen and (min-width: 1000px) {
      .cell {
        width: calc(100% / 3);
      }
    }

    @media screen and (min-width: 600px) {
      .cell {
        width: calc(50% - 2rem);
      }
    }

    @media screen and (min-width: 1000px) {
      .cell {
        width: calc(33.3333% - 2rem);
      }
    } */
