@import '_reset';
@import '_themeColours';
@import '_button';

$small-font-size: 1.5em;

body {
  font: 100% Helvetica, sans-serif;
  background-color: $themeColor-Light;
  font-size: $small-font-size;
  color: $themeColor-Black;
}


