@import '_reset';
@import '_theme';
@import '_button';
@import '~flexboxgrid';
@import '~flexboxgrid-helpers';

$large-font-size: 2em;
$medium-font-size: 1.5em;
$small-font-size: 1em;
$tiny-font-size: 0.7em;

body {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: $medium-font-size;
  color: $themeColor-Black;
  background-color: $themeColor-Light;
  //background: linear-gradient(to bottom,  $themeColor-Light 0%, $themeColor-Light 80%, white 20%, white 100%);
}

html,
body {
  height: 100%;
}

.container {
  overflow: hidden;
  min-height: 100%;
}

.center {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}


