button {
  border: none;
  background-color: $themeColor-Dark;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
  font: inherit;
  border-radius: 4px;

}

button:hover {
  background-color: darkgray;
}

button:focus {
  outline: none;
}