@import '_base';

.form {
  padding: 0 7% 7% 7%;
  position: relative;
}

.form .alert {
  min-height: 1em;
  line-height: 1;
  padding: 0 7% 0 7%;
}

.alert {
  color: darkred !important;
}

.form input,
.form button {
  width: 100%;
  box-sizing: border-box;
  font-size: inherit;
  display: block;
  margin-top: 1em;
  padding: 0.5em;
  font: inherit;
}

.form input {
  border: 2px solid $themeColor-Light;
  border-radius: 4px;
  background-color: white;
  color: inherit;
}

input:focus {
  border: 2px solid $themeColor-Black;
  outline: none;
}

.show-password-icon {
  width: 40px;
  height: auto;
  cursor: pointer;
  position: absolute;
  right: 5%;
  margin-top: 1.3em;
  margin-right: 1em;
}

.terms-conditions {
  padding-top: 2%;
  font-size: $tiny-font-size;
}

h2 {
  padding-top: 0.5em;
  font-family: $themeFont;
  color: $themeColor-Green;
}