{% extends "base.html" %}
{% block content %}
    <div class="page-header">
        <h1>Cropping</h1>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.4.1/croppie.min.css" type="text/css">

    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.4.1/croppie.min.js"></script>

    <style>
    #demo-basic {
      width: 400px;
      height: 400px;
      }
    </style>
    <div id="demo-basic">
    </div>
    <br>
    <br>
     <button type="button" id="crop-button">Crop</button>
     <script type="text/javascript">
     $(function() {
       var basic = $('#demo-basic').croppie({
         viewport: {
           width: 200,
           height: 200
         }
       });
       basic.croppie('bind', {
         url: 'static/C29_b.jpg',
         points: [0, 0, 500, 500]
       });
      $('#crop-button').on('click', function() {
        var points = $('#demo-basic').croppie('get').points;
        alert(points);
        $.getJSON('/crop_points', {
           image: "C29_b.jpg",
           x1: points[0],
           y1: points[1],
           x2: points[2],
           y2: points[3]
        }, function(){
          alert("Completed");
        });
      });
    });


     </script>
{% endblock %}
