{% extends "base.html" %}
{% block content %}
  <link rel="stylesheet" href="static/stylesheets/tiles.css" type="text/css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>
  $( function() {
    // $( "#sortable" ).sortable();
    $("#sortable").sortable({
      placeholder: {
          element: function(currentItem) {
              return $("<div class='cell placeholder'></div>")[0];
          },
          update: function(container, p) {
              return;
          }
      }
  });
    $( "#sortable" ).disableSelection();
  } );
  </script>

    <div class="thumbnail-grid">
      <div id="sortable" class="grid">
        {% for image in data.images %}
        <div class="cell">
          <img src="{{ image.thumbnail_path }}" class="responsive-image">
          <div class ="overlay"><div class="text">{{ image.title }}</div></div>
        </div>
        {% endfor %}
      </div>
    </div>


{% endblock %}
