{% extends "base.html" %}
{% block content %}
  <link rel="stylesheet" href="static/stylesheets/tiles.css" type="text/css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <style>
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }

  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }
  </style>

  <script>

  $( function() {


  });
  </script>
    <button id="set-images" type="button">Confirm Images</button>
    <span id="result"></span>
    <div class="thumbnail-grid-edit">
      <div id="sortable" class="grid">
        {% for image in data.images %}
        <div class="cell" id={{ image.id }}>
          <img src="{{ image.thumbnail_path }}" class="responsive-image">
          <div class="top-left">
            <img src="static/assets/pencil-button.png" class="icon edit-button" height="24" width="24">
            <img src="static/assets/delete.png" class="icon delete" height="24" width="24">
          </div>
          <!-- <div class ="overlay"><div class="text">{{ image.title }}</div></div> -->
        </div>
        {% endfor %}
      </div>
    </div>


    <div id="editPopup" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
      </div>

    </div>

  <script>
  $( document ).ready(function(){

    $("#sortable").sortable({
      placeholder: {
          element: function(currentItem) {
              return $("<div class='cell placeholder'></div>")[0];
          },
          update: function(container, p) {
              return;
          },
      }
    });
    $("#sortable").disableSelection();
    $("#sortable").sortable({ items : '.cell:not(.unsortable)' });


    var imageNum = $(".cell").length;
    var rowLength = 3;
    var remainder = imageNum % rowLength;
    if (remainder !== 0) {
      var emptyCellNum = rowLength - remainder;
      for (var i = 0; i < emptyCellNum; i++) {
        $(".grid").append("<div class='cell unsortable'></div>");
      }
    }


    $('#set-images').click(function() {

      // get the ids and positions in an object
      var positionObject = {};
      $( ".cell" ).each(function(index) {
        // console.log(index + ": " + $(this).attr("id"));
        positionObject[index] = $(this).attr("id");
      });

      // ajax it
      $.ajax({
        url:"/set_positions",
        type: "post",
        dataType: "json",
        data: {postitionData: JSON.stringify(positionObject)},
        success: function(result) {
          console.log(result.response);
          $("#result").text(result.response)
        }
      });
    });

    $('.close').click(function() {
      $("#editPopup").css("display", "none");
    });

    $(window).click(function(e) {
      if ($(e.target).hasClass('edit-button')) {
        $("#editPopup").css("display", "block");
      } else if ($("#editPopup").css("display") == "block") {
        if ($(e.target).parents("#editPopup").length === 0) {
          $("#editPopup").css("display", "none");
        }

      }

    });
  });



  </script>

{% endblock %}
