{% extends "base.html" %}]
{% block content %}

  {% include "nav.html" %}

  <link rel="stylesheet" href="static/stylesheets/tiles.css" type="text/css">

    <div class="thumbnail-grid">
      <div class="grid">
        {% for image in data.images %}
        <div class="cell" id={{ image.id }}>
          <img src="{{ image.thumbnail_path }}" class="responsive-image">
          <div class ="overlay"><div class="text">{{ image.title }}</div></div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% include "footer.html" %}
{% endblock %}
